modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PYTHONPATH=/home/runner/workspace python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6060
externalPort = 3001

[[ports]]
localPort = 8079
externalPort = 8008

[[ports]]
localPort = 43577
externalPort = 3000

[[ports]]
localPort = 43578
externalPort = 3003

[[ports]]
localPort = 43579
externalPort = 4200

[[ports]]
localPort = 43580
externalPort = 3002
